<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzes</title>

  <link rel="stylesheet" href="/styles/new-quiz.css" />
  <link rel="stylesheet" href="/styles/header.css" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <%- include('partials/_header') %>

  <div class="body-container">
    <h1>Editing <%= quiz[0].name %></h1>

    <form method="post">
      <label for="quiz-name">Quiz Name:</label>
      <input type="text" class="input-text" name="quiz-name" placeholder="Type the quiz name" required value="<%= quiz[0].name %>"/>
      <br>
      <label for="description">Short Description:</label>
      <textarea class="input-text" name="description" id="description" placeholder="Type a short description" required><%= quiz[0].description %></textarea>

      <h3>Questions:</h3>
      <div class="question-container">
        <div class="question">
          <label for="description">Question 1</label>
          <textarea class="input-text" name="q1-description" id="q1-description" placeholder="Type a question" required><%= quiz[0].question %></textarea>
          <br>
          <label for="q1-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q1-answer" placeholder="Correct Answer" required value="<%= quiz[0].correct_answer %>"/>
          <label for="q1-answer">Options:</label>
          <input type="text" class="input-text" name="q1-option1" placeholder="Incorrect options" required value="<%= quiz[0].option1 %>"/>
          <div>
            <label for="q1-answer">Options:</label>
            <input type="text" class="input-text" name="q1-option2" placeholder="Incorrect options" required value="<%= quiz[0].option2 %>"/>
            <label for="q1-answer">Options:</label>
            <input type="text" class="input-text" name="q1-option3" placeholder="Incorrect options" required value="<%= quiz[0].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 2</label>
          <textarea class="input-text" name="q2-description" id="q2-description" placeholder="Type a question" required><%= quiz[1].question %></textarea>
          <br>
          <label for="q2-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q2-answer" placeholder="Correct Answer" required value="<%= quiz[1].correct_answer %>"/>
          <label for="q2-answer">Options:</label>
          <input type="text" class="input-text" name="q2-option1" placeholder="Incorrect options" required value="<%= quiz[1].option1 %>"/>
          <div>
            <label for="q2-answer">Options:</label>
            <input type="text" class="input-text" name="q2-option2" placeholder="Incorrect options" required value="<%= quiz[1].option2 %>"/>
            <label for="q2-answer">Options:</label>
            <input type="text" class="input-text" name="q2-option3" placeholder="Incorrect options" required value="<%= quiz[1].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 3</label>
          <textarea class="input-text" name="q3-description" id="q3-description" placeholder="Type a question" required><%= quiz[2].question %></textarea>
          <br>
          <label for="q3-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q3-answer" placeholder="Correct Answer" required value="<%= quiz[2].correct_answer %>"/>
          <label for="q3-answer">Options:</label>
          <input type="text" class="input-text" name="q3-option1" placeholder="Incorrect options" required value="<%= quiz[2].option1 %>"/>
          <div>
            <label for="q3-answer">Options:</label>
            <input type="text" class="input-text" name="q3-option2" placeholder="Incorrect options" required value="<%= quiz[2].option2 %>"/>
            <label for="q3-answer">Options:</label>
            <input type="text" class="input-text" name="q3-option3" placeholder="Incorrect options" required value="<%= quiz[2].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 4</label>
          <textarea class="input-text" name="q4-description" id="q4-description" placeholder="Type a question" required><%= quiz[3].question %></textarea>
          <br>
          <label for="q4-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q4-answer" placeholder="Correct Answer" required value="<%= quiz[3].correct_answer %>"/>
          <label for="q4-answer">Options:</label>
          <input type="text" class="input-text" name="q4-option1" placeholder="Incorrect options" required value="<%= quiz[3].option1 %>"/>
          <div>
            <label for="q4-answer">Options:</label>
            <input type="text" class="input-text" name="q4-option2" placeholder="Incorrect options" required value="<%= quiz[3].option2 %>"/>
            <label for="q4-answer">Options:</label>
            <input type="text" class="input-text" name="q4-option3" placeholder="Incorrect options" required value="<%= quiz[3].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 5</label>
          <textarea class="input-text" name="q5-description" id="q5-description" placeholder="Type a question" required><%= quiz[4].question %></textarea>
          <br>
          <label for="q5-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q5-answer" placeholder="Correct Answer" required value="<%= quiz[4].correct_answer %>"/>
          <label for="q5-answer">Options:</label>
          <input type="text" class="input-text" name="q5-option1" placeholder="Incorrect options" required value="<%= quiz[4].option1 %>"/>
          <div>
            <label for="q5-answer">Options:</label>
            <input type="text" class="input-text" name="q5-option2" placeholder="Incorrect options" required value="<%= quiz[4].option2 %>"/>
            <label for="q5-answer">Options:</label>
            <input type="text" class="input-text" name="q5-option3" placeholder="Incorrect options" required value="<%= quiz[4].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 6</label>
          <textarea class="input-text" name="q6-description" id="q6-description" placeholder="Type a question" required><%= quiz[5].question %></textarea>
          <br>
          <label for="q6-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q6-answer" placeholder="Correct Answer" required value="<%= quiz[5].correct_answer %>"/>
          <label for="q6-answer">Options:</label>
          <input type="text" class="input-text" name="q6-option1" placeholder="Incorrect options" required value="<%= quiz[5].option1 %>"/>
          <div>
            <label for="q6-answer">Options:</label>
            <input type="text" class="input-text" name="q6-option2" placeholder="Incorrect options" required value="<%= quiz[5].option2 %>"/>
            <label for="q6-answer">Options:</label>
            <input type="text" class="input-text" name="q6-option3" placeholder="Incorrect options" required value="<%= quiz[5].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 7</label>
          <textarea class="input-text" name="q7-description" id="q7-description" placeholder="Type a question" required><%= quiz[6].question %></textarea>
          <br>
          <label for="q7-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q7-answer" placeholder="Correct Answer" required value="<%= quiz[6].correct_answer %>"/>
          <label for="q7-answer">Options:</label>
          <input type="text" class="input-text" name="q7-option1" placeholder="Incorrect options" required value="<%= quiz[6].option1 %>"/>
          <div>
            <label for="q7-answer">Options:</label>
            <input type="text" class="input-text" name="q7-option2" placeholder="Incorrect options" required value="<%= quiz[6].option2 %>"/>
            <label for="q7-answer">Options:</label>
            <input type="text" class="input-text" name="q7-option3" placeholder="Incorrect options" required value="<%= quiz[6].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 8</label>
          <textarea class="input-text" name="q8-description" id="q8-description" placeholder="Type a question" required><%= quiz[7].question %></textarea>
          <br>
          <label for="q8-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q8-answer" placeholder="Correct Answer" required value="<%= quiz[7].correct_answer %>"/>
          <label for="q8-answer">Options:</label>
          <input type="text" class="input-text" name="q8-option1" placeholder="Incorrect options" required value="<%= quiz[7].option1 %>"/>
          <div>
            <label for="q8-answer">Options:</label>
            <input type="text" class="input-text" name="q8-option2" placeholder="Incorrect options" required value="<%= quiz[7].option2 %>"/>
            <label for="q8-answer">Options:</label>
            <input type="text" class="input-text" name="q8-option3" placeholder="Incorrect options" required value="<%= quiz[7].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 9</label>
          <textarea class="input-text" name="q9-description" id="q9-description" placeholder="Type a question" required><%= quiz[8].question %></textarea>
          <br>
          <label for="q9-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q9-answer" placeholder="Correct Answer" required value="<%= quiz[8].correct_answer %>"/>
          <label for="q9-answer">Options:</label>
          <input type="text" class="input-text" name="q9-option1" placeholder="Incorrect options" required value="<%= quiz[8].option1 %>"/>
          <div>
            <label for="q9-answer">Options:</label>
            <input type="text" class="input-text" name="q9-option2" placeholder="Incorrect options" required value="<%= quiz[8].option2 %>"/>
            <label for="q9-answer">Options:</label>
            <input type="text" class="input-text" name="q9-option3" placeholder="Incorrect options" required value="<%= quiz[8].option3 %>"/>
          </div>
        </div>

        <div class="question">
          <label for="description">Question 10</label>
          <textarea class="input-text" name="q10-description" id="q10-description" placeholder="Type a question" required><%= quiz[9].question %></textarea>
          <br>
          <label for="q10-answer">Correct Answer:</label>
          <input type="text" class="input-text" name="q10-answer" placeholder="Correct Answer" required value="<%= quiz[9].correct_answer %>"/>
          <label for="q10-answer">Options:</label>
          <input type="text" class="input-text" name="q10-option1" placeholder="Incorrect options" required value="<%= quiz[9].option1 %>"/>
          <div>
            <label for="q10-answer">Options:</label>
            <input type="text" class="input-text" name="q10-option2" placeholder="Incorrect options" required value="<%= quiz[9].option2 %>"/>
            <label for="q10-answer">Options:</label>
            <input type="text" class="input-text" name="q10-option3" placeholder="Incorrect options" required value="<%= quiz[9].option3 %>"/>
          </div>
        </div>

      </div>
      <div class="save-reset">
        <a class="buttons" href="/">Back to Homepage</a>
        <div>
          <button class="buttons" type="reset" id="clear">Clear</button>
          <button class="buttons" type="submit" id="button">Save Quiz</button>
        </div>
      </div>
    </form>

  </div>
</body>

</html>
