<!DOCTYPE html>
<html lang="en">

<head>

  <title>Quiz</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/quiz.css" />
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>


    <div class="right">
      <div class container>
        <!-----------------------------------------------------------------question 1----------->
        <div class="title-block">
          <h2 class="possible-answerh2">
            <%= quiz[0].question%>

          </h2>
        </div>
        <div class="answer-options">
          <div onclick="" class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[0].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[0].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[0].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[0].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 2----------->
        <div class="title-block">
          <h2>
            <%= quiz[1].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[1].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[1].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[1].option1%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[1].correct_answer%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 3----------->
        <div class="title-block">
          <h2>
            <%= quiz[2].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[2].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[2].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[2].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[2].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 4----------->
        <div class="title-block">
          <h2>
            <%= quiz[3].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[3].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[3].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[3].option1%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[3].correct_answer%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 5----------->
        <div class="title-block">
          <h2>
            <%= quiz[4].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[4].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[4].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[4].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[4].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 6----------->
        <div class="title-block">
          <h2>
            <%= quiz[5].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[5].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[5].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[5].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[5].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 7----------->
        <div class="title-block">
          <h2>
            <%= quiz[6].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2>
              <%=quiz[6].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2>
              <%=quiz[6].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2>
              <%=quiz[6].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2>
              <%=quiz[6].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 8----------->
        <div class="title-block">
          <h2>
            <%= quiz[7].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[7].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[7].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[7].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[7].option1%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 9----------->
        <div class="title-block">
          <h2>
            <%= quiz[8].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[8].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[8].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[8].option1%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[8].correct_answer%>
            </h2>
          </div>
        </div>
        <!-----------------------------------------------------------------question 10----------->
        <div class="title-block">
          <h2>
            <%= quiz[9].question%>
          </h2>
        </div>
        <div class="answer-options">
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[9].correct_answer%>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[9].option2 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[9].option3 %>
            </h2>
          </div>
          <div class="possible-answer">
            <h2 class="possible-answerh2">
              <%=quiz[9].option1%>
            </h2>
          </div>
        </div>
      </div>
    </div>


    <div class="left">
      <div class="quiz-name">
        <h1>
          <%= quiz[0].name%>
        </h1>
      </div>
      <div class="quiz-desc">
        <h3>
          <%= quiz[0].description%>
        </h3>
      </div>
      <a class="dynamic-button" href="../scores">
        <h2>Submit</h2>
      </a>
      <div class="answer-tracker">
        <h1>0/10</h1>
      </div>
    </div>

    <script>
    const clickedNumbers = [];
    function getValue(e) {
      const divValue = parseInt(e.target.textContent);
      clickedNumbers.push(divValue);
      console.log(clickedNumbers);
    }
    function numberTrack() {
      const items = document.getElementsByClassName('possible-answer');
      for (let i = 0; i < items.length; i++) {
        items[i].onclick = getValue;
        console.log('clicked');
      }
    }
















    //   const questions = <%-JSON.stringify(quiz) %>;
    //   const answers = [questions[0].correct_answer, questions[1].correct_answer, questions[2].correct_answer, questions[3].correct_answer, questions[4].correct_answer, questions[5].correct_answer, questions[6].correct_answer, questions[7].correct_answer, questions[8].correct_answer, questions[9].correct_answer];
    //   const unansweredQuestions = [];//[questions[0].id, questions[1].id, questions[2].id, questions[3].id, questions[4].id, questions[5].id, questions[6].id, questions[7].id, questions[8].id, questions[9].id, ];
    //   const chosenAnswers = [];
    //   const possibleAnswers = document.getElementsByClassName('possible-answerh2');
    //   console.log(possibleAnswers)
    //   const handleClick = (questionID, chosenAnswer) => {
    //     if (unansweredQuestions.includes(questionID))
    //       chosenAnswers.push(chosenAnswer);
    //     const itemToRemove = unansweredQuestions.indexOf(questionID);
    //     if (itemToRemove > -1) {
    //       unansweredQuestions.splice(itemToRemove, 1);
    //     };
    //     //console.log(chosenAnswers);
    //     //console.log(unansweredQuestions);
    //     //console.log(answerBlock.textContent);
    //   };
    //   const populateQuestions = () => {
    //     questions.forEach(question => {
    //       unansweredQuestions.push(question.id);
    //         for (i = 0; i< possibleAnswers.length; i++) {
    //           const answerBlock = document.getElementsByClassName('possible-answerh2');

    //           possibleAnswers[i].addEventListener('click', () => handleClick(question.id, possibleAnswers[i].textContent));
    //       };
    //     });
    //   };
    //    populateQuestions();

    //   //console.log(questions)
    //  //  for (i = 0; i< possibleAnswers.length; i++) {
    // //   possibleAnswers[i].addEventListener('click', () => {
    // //     handleClick(questions[i].id, questions[i].question)
    // //   });
    // //  }
    </script>
</body>

</html>
